<html>
  <head>
    <title>2018 Python Packages Survey</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/styles/googlecode.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>

    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>

    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="title">Python Packages Survey</h1>
        </header>
    </div>
    <div id="main_content_wrap">
      <section id="main_content" class="inner">
        <h3> Over {{count}} people have already answered the survey!</h3>

        <h2> What is the Python Packages Survey? </h2>
        <p> The Python Packages Survey was developed to help open source software authors understand their users environments so the authors can build more reliable, robust, and performant software. This anonymous survey is for any developer who has worked with Python, and we hope to capture all systems: your local environment, production enviroments, remote environments, etc. <b>Your partcipation will help open source developers</b>.</p>

        <p>Our path is to be 100% transparent in data collection and data handling. Hence we have open sourced all the code, and will batch dump the data periodically for others to use. In our FAQs section, we answer your questions about data usage, privacy and multiple environments.</p>

        <div id="TOC">
          <ol>
            <li> <a href="#partcipation">Participate</a> </li>
            <li> <a href="#FAQs">FAQs</a> </li>
            <li> <a href="#contact">Contact</a> </li>
          </ol>
        </div>

        <h2 id="partcipation"> Participate </h2>
        <p> Completing our survey is easy: </p>
        <ol>
          <li> Copy the Python script below to the computer you want to submit results for. This could be as a new Python file in your IDE. </li>
          <li> (Optional) There are a few questions in the beginning of the script we encourage you to fill in.</li>
          <li> Execute the script to submit. </li>
          <li> Finished! </li>
        <pre>
          <span id="code_span">
            <button class="btn" data-clipboard-target="#code">
              <img src="static/clippy.svg" alt="Copy to clipboard" width=13>
            </button>
          </span>
          <code class="python" id="code">{{code}}
        </code>
        md5 check sum is {{md5hash}}
      </pre>

      <h2 id="FAQs"> FAQs </h2>

      <h3> Why are we doing this? </h3>
      <p> You can read about the current problems, solutions, and business use cases of this data <a href="https://www.notion.so/camdp/Why-are-we-doing-this-332c3898242a4ce8bf7b784b9e1afa62">here</a>. </p>
      <h3> What are the risk of running random scripts from the web? </h3>
      <p>There are lots of risk with running random scripts taken from the web and generally it's a bad idea. However, we've done two sensible things to build your confidence. The first is that we open sourced our code, both the script (obviously) and the backend. The repository is <a href="https://github.com/CamDavidsonPilon/pip_packages_survey">here</a>. Secondly, I've had some trusted Python developers review the script to confirm nothing malicious is in it. Their reviews are <a href="">here</a>.</p>
      <h3> Can I delete my data after? </h3>
      <p> Yes, so long as you hold onto the unique identifier we generate for you. The script will print out a UUID to the screen. Then you can email us at {{email}} with the request to delete the data associated with your UUID.
      <h3> Are references to my private libraries saved?</h3>
      <p> <bold>We do our best to avoid this.</bold> On the server side, we have a list of all public PyPI libraries. We filter your list against this list before the data touches the database. (It may happen that your private library has the same name as a public library, however, in which case it will not be filtered.)
      <h3> I have multiple Python environments - which should I use? </h3>
      <p> Two options: either run this script in each environment, <i>or</i> run this script in the one you have open right now. Data collection on either option is appreciated.</p>
      <h3> Where can I see the survey results?</h3>
      <p> Periodically, we will be dumping the data to a public location. Stay tuned.</p>
      <h3> Why not just mine <code>requirements.txt</code> files on Github?</h3>
      <p> That's useful to know, but answers a different question. Consider this analogy: "what ingredients are paired often in a supermarket" vs "what pairs of food/ingredients people actually take home". We want to answer the latter question, which means investigating actual grocery carts. </p>
      <h3> Who are you? </h3>
      <p> I'm <a href="http://github.com/camdavidsonpilon">Cam Davidson-Pilon</a>, a long-time Python developer who works on open source data science libraries.</p>

      <h2 id="contact"> Contact </h2>
      <p> If you have any questions or concerns, please reach out to {{email}} or post an issue in our <a href="https://github.com/CamDavidsonPilon/pip_packages_survey">repository</a>.</p>

      <p> Thanks for taking the time to make the Python ecosystem better!</p>

      </section>
    </div>
    <div id="footer_wrap" class="outer">
      <p>  </p>
    </div>
    <script type="text/javascript">
      new ClipboardJS('.btn');

    </script>
  </body>
</html>