<html>
  <head>
    <title>Home</title>
   <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>

    <div id="header_wrap" class="outer">
        <header class="inner">
          <h1 id="title">2019 PIP Packages Survey</h1>
        </header>
    </div>
    <div id="main_content_wrap">
      <section id="main_content" class="inner">
        <h2> This is a test header </h2>
        <p> test </p>
      </section>
    </div>
    <div id="footer_wrap" class="outer">
      <p> test </p>
    </div>
  </body>
</html>